{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr> 
<h1>Лютый To do List {{color}}</h1>

<a href="{% url 'task-create' %}">Создать попс</a>
<!-- 
<form method="GET">
    <input type="text" name='serch-area' valuae="{{search_input}}">
    <input type="submit" value='Search'>
</form> -->

<form method="GET">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Поиск">
</form>


<table>
    <tr>
        <th>Попсы</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id%}">Чекнуть</a></td>
        <td><a href="{% url 'task-update' task.id%}">Изменить</a></td>
        <td><a href="{% url 'task-delete' task.id%}">Удалить</a></td>
    </tr>
    {% empty %}
       <h3>Нету попсов</h3>
    {% endfor %}
</table>